<div class="container">
  <div class="container__title"><p>Sign In</p></div>
  <form [formGroup]="myForm" class="container__form" >
    <div class="container__input">
      <label class="container__EmailText">Email</label>
      <mat-form-field>
      <input
        matInput
        class="form-control"
        type="email"
        formControlName="userEmail"
        (click)="chooseValueMistakeEmail()"
      />
        </mat-form-field>
      <div *ngIf="mistakeValidEmail"  class="container__error">
        Invalid email. Example: "name@gmail.com"
      </div>
    </div>
    <div class="container__input">
      <span>Password</span>
      <mat-form-field>
      <input
        matInput
        class="form-control"
        type="password"
        formControlName="userPassword"
        (click)="chooseValueMistakePass()"
      />
      </mat-form-field>
      <div *ngIf="mistakeValidPass" class="container__error">
        Very short password. Min 6 symbol
      </div>
      <div *ngIf="authEror"  class="container__error">
        {{authEror}}
      </div>
    </div>
    <div class="container__buttonSubmit">
      <button type="submit"
              mat-raised-button
              (click)="onSignip()"
              class="btn btn-secondary btnSubmit"
      >
        Sign in
      </button>
    </div>
  </form>

</div>
