
.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title
  {
    text-align: center;
  }
  &__form
  {
    display: flex;
    flex-direction: column;
  }
  &__input
  {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-bottom: 20px;

  }

  &__buttonSubmit
  {
    text-align: center;
  }
  &__error
  {
    color: red;
  }
}
