<mat-form-field [formGroup]="reactiveSearchForm" appearance="fill" class="containerForSearchPhoto"  >
  <mat-label class="containerForSearchPhoto__label">Search photo</mat-label>
  <input type="search" class="containerForSearchPhoto__input" matInput formControlName="inputSearch"  >
</mat-form-field>

<div class="containerForFoundPhoto">
  <mat-paginator [length]="10"
                 [pageSize]="20">
  </mat-paginator>

  <div *ngIf="receivedPhotos">
    <div class="containerForFoundPhoto__foundPhoto" >
      <ul >
        <li *ngFor="let photo of receivedPhotos.photos.photo">
          <img  [src]="'https://live.staticflickr.com/' + photo.server + '/'+ photo.id + '_' +photo.secret  +'.jpg'" >
        </li>
      </ul>
    </div>
  </div>
  </div>

