<mat-form-field [formGroup]="reactiveSearchForm" appearance="fill" class="containerForSearchPhoto"  >
  <mat-label class="containerForSearchPhoto__label">Search photo</mat-label>
  <input type="search" class="containerForSearchPhoto__input" matInput formControlName="inputSearch"  >
</mat-form-field>

<div class="containerForFoundPhoto">
  <div class="countPhotos"
    *ngIf="receivedPhotos">
    <span>Count images: {{responceFlickr.total}}</span>
  </div>

  <div *ngIf="receivedPhotos">
    <div class="containerForFoundPhoto__foundPhoto" >
      <ul >
        <li  *ngFor="let photo of receivedPhotos">
          <mat-card class="example-card" >
            <img (load)="dosomething()" mat-card-image [src]="'https://live.staticflickr.com/' + photo.server + '/'+ photo.id + '_' +photo.secret +'.jpg'" alt="Photo of a Shiba Inu">
            <div *ngIf="photo.tag.length > 1">
              <strong>Tags:</strong>
              <span class="containerForFoundPhoto__tag" *ngFor="let tag of photo.tag">
               {{tag._content }}
              </span>
            </div>
            <button mat-raised-button color="primary" (click)="addToBookmark(photo)">Bookmark it</button>
          </mat-card>
        </li>
      </ul>
    </div>

  </div>

  <div *ngIf="!receivedPhotos" class="noImageMessageContainer">
    <span> No image here. Would you try to search for anything else?</span>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="2"
    (scrolled)="onScroll()"
  ></div>
  </div>

