.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

ul {
  column-count: 4;
  column-gap: 29px;
  text-align:justify;
  overflow: hidden;
}


ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 36px;
  padding: 10px;
}

.mainBookmarkContainer
{
  height: 85vh;
  &__noImageMessageContainer
  {
    margin: 50px 0 0 100px;
    box-sizing: border-box;
  }
  &__noImageMessage
  {
    font-size: 20px;
  }
}

