<div class="mainBookmarkContainer">

  <div class="mainBookmarkContainer__noImageMessageContainer" *ngIf="!dataForBookmarkPhoto">
    <span class="mainBookmarkContainer__noImageMessage"> No image here. Would you try to search for anything else?</span>
  </div>

  <ul >
    <li *ngFor="let photo of dataForBookmarkPhoto">
      <mat-card class="example-card" >
        <img mat-card-image [src]="'https://live.staticflickr.com/' + photo.server + '/'+ photo.id + '_' +photo.secret  +'.jpg'" alt="Photo of a Shiba Inu">
          <button mat-raised-button color="warn" (click)="deleteImage(photo)">Delete image</button>

      </mat-card>
    </li>
  </ul>
</div>




